# How to import dataset in python using Pandas library
Written by: Fareed Khan\
Date: 27/06/2023\
Email: faroodcp9@gmail.com

In [1]:
# Step 1
# importing libraries
import pandas as pd

In [3]:
# Step 2
# reading/importing dataset with name
df = pd.read_excel("pandas_01_day6.xlsx") # variable name df as dataframe

In [4]:
print(df)

    height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [7]:
df.head(10) # only first 5 rows and cols and if we want more than 5 we put 10

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
5     5.3      59        Biryani
6     5.6      50          Pasta
7     5.9      76        Biryani
8     5.1      78        Biryani
9     5.4      68        Biryani

In [8]:
df.tail(15) # last 5 elements by default

    height  weight favourite_dish
72    5.80      73        Biryani
73    5.11      78        Biryani
74    5.60      62  Karahi Ghosht
75    6.00     125    Chapel Kaba
76    5.70      75        Biryani
77    5.50      85        Biryani
78    5.11      72  Karahi Ghosht
79    5.30      62        Biryani
80    5.40      55          Pasta
81    5.50      52  Karahi Ghosht
82    5.40      55          Pasta
83    5.90      75  Karahi Ghosht
84    5.40      61        Biryani
85    6.20      68  Chicken Pulao
86    5.10      96        Biryani

In [9]:
df.shape # to know how much rows and cols

(87, 3)

In [11]:
df.info() # for dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB