# Statistics

### Language of Statistics
1. Average
2. Maximum
3. Minimum
4. Percentage
5. Variance
6. Likelihood
7. t-test
8. ANOVA

### Data types - 1

1. **Cross Sectional** - Data collected at one time
2. **Time Series** - Data collected over different times

### Data types - 2

1. **Uni variate** - single variable
2. **Multi variate** - 2 or more variables

### Variable types - 1

Categorical (Nominal)
1. **Binomial** - No quantitive relationship is given (True/False) (Male/Female)
2. **Multinomial** - Eg. (Man/Woman/Child)

### Variable types - 2

Categorical (Nominal)
1. **Ordinal Variable** - Data ranked or ordered (Quantitive)

### Variable types - 3

**Ratio Data** \
Data have a natural zero\
Measurement in units and ratios are Continous variable

### Variable types - 4

**Interval variables/data**\
Ordered and charecterized data

### Measure of Central Tendency (Mean, median, mode)

#### Population Vs Sample

Population - research has more power. It is any specific collection of objects interest\
Sample - are used to reduce the cost of data collection (less power). It is any subset or sub collection of population

### Notions and terms

1. N = size of population
2. n = size of sample

Statitics is a collection of methods for collecting, displaying, analyzing, and drawing  conclusions from data.

- A **measurement** is a number or attribute computed for each number of a populaiton or sample.\
- A **parameter** is a number that summarizes some aspects of the population as a whole.\
- A **statistics** is a number computed from the sample data.

### Descriptive Statistics

It is the branch of statistics that involves organizing, displaying and describing data

### Inferential Statistics

It is the branch of statistics that involves conclusions about a population based on information contained in a sample taken from that population

### Exploratory Statistics

(EDA) It is an analysis approach that identifies general patterns in the data. These patterns include outliers and features of the data that might be unexpected

**Qualitative Data** - are measurements for which there is no natural numerical scale, but which consists of attributes, labels, or other non-numerical characteristics

**Quantiative Data** - are numerical measurements that arise from a natural numerical scale

**Mean** is the sum divided by the number of observations (Average)

#### Mean and it's properties

- Meaningful are for intervals and ratio data\
- Outliers change the means of a data, therefore median is useful\
- The median is the middle number in a sorted, ascedning or descending, list of numbers

### Median and it's properties

- is the middle number in a sorted, ascending or descending, list of numbers

#### Mode

- the value that occurs most frequently (most common)

In [3]:
import pandas as pd
import seaborn as sns

In [5]:
df = sns.load_dataset('tips')

In [6]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [7]:
df.mode()

   total_bill  tip   sex smoker  day    time  size
0       13.42  2.0  Male     No  Sat  Dinner     2

In [8]:
df.mean()

/var/folders/6g/zbv6zp2s0yjfhrt83s_n6gj40000gn/T/ipykernel_10105/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [10]:
df.median()

/var/folders/6g/zbv6zp2s0yjfhrt83s_n6gj40000gn/T/ipykernel_10105/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

## Dispersion

How much data spread around them

- Standard deviation (std)
- Standard error (se)
- Variance 
- Bell curve

- Dispersion caused by difference between the minimum and the maxiumum
- Range = max - min

In [15]:
prices = [30, 30, 35, 45, 10, 61, 70, 90, 115]

In [16]:
l = len(prices)
n = sum(prices)
mean = n / l
mean

54.0