# Measure of Dispersion

### Dispersion

> - How much data spread around mean

- Standard deviation (std)
- Standard error (se)
- Variance
- Bell Curve

- **Caused by difference between the minimum and the maximum**
  
- **Range -> min to max**

In [1]:
import numpy as np
import pandas as pd
arr = np.array([30, 30, 35, 45, 10, 61, 70, 90, 115])

In [6]:
arr.mean()

54.0

In [22]:
df = pd.DataFrame([30, 30, 35, 45, 10, 61, 70, 90, 110])

In [23]:
df

     0
0   30
1   30
2   35
3   45
4   10
5   61
6   70
7   90
8  110

In [25]:
df.describe() # To find their mean, std, min, max

                0
count    9.000000
mean    53.444444
std     32.140749
min     10.000000
25%     30.000000
50%     45.000000
75%     70.000000
max    110.000000

- Mean always gives us a small picture
- Means are incomplete without dispersion (SD)\
- ***Mean with SD is more useful than only mean by itself***